.gameScreen {
  background: url("bg.jpg") repeat-x center top;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.stage {
  flex: 1 1 auto;
  min-height: 342px;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.boundary {
  flex: auto;
  display: flex;
  position: relative;
}
.interface {
  background: black;
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.playersCards {
  flex: auto;
  display: flex;
  justify-content: space-around;
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
