.logo {
  background: url(./logo.png) no-repeat 50%;
  width: 100%;
  height: 200px;
  text-indent: -999em;
  display: block;
}

.menu-screen {
  display: flex;
  flex-direction: column;
}

.banner-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-content: center;
}

.banner-item {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  text-align: center;
  padding: 0 2em;
}
