@import-normalize;

html {
  min-height: 100%;
  display: flex;
}

body {
  flex: 1 1 auto;
  display: flex;
  margin: 0;
  font-family: "Petit Formal Script", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-grow: 1;
}

.flexContainer {
  display: flex;
  flex: auto;
}
